*{
	margin: 0;
	padding: inherit;
}
.cabecera{
	border: 1.5px solid #F5B853;
	height: 85px;
	display:flex;
	align-items: center;
	width: 100%;
}
.nav{
	width: 90%;
	display: flex;
	align-items: center;
	height: 80px;
	justify-content: space-between;
	margin: 0 auto;

}
.logo{
	align-items: center;
	display: flex;
	width: 80px;
}
.imagen{
		align-items: center;
		display: flex;
		width: 200px;
}
.foto{width: 100%}
.botones{
	display: flex;
	justify-content: space-around;
	width: 420px;
	list-style: none;
}
.bloque{
	border: 1.5px solid #F5B853;
	display:flex;
	align-items: center;
	width: 100%;
	display: block;

}
.bloque2{
	border: 1.5px solid #F5B853;
	display:flex;
	align-items: center;
	width: 100%;
	display: block;
	background-color:#191a1c;
}
.bloque3{
	border: 1.5px solid #191a1c;
	display:flex;
	align-items: center;
	width: 100%;
	display: block;
	background-color:#F5B853
}
.bloque4{

	display:flex;
	align-items: center;
	width: 60%;
	display: block;
}
.centrado{
  margin-left: auto;
  margin-right: auto;
  display:block;
}
.letra1{
	color:#424242;
	text-decoration: none;
	font-family: 'Pacico', cursive;
	width:40%;
}
.letra2{
	color:#424242;
	width: 100px
	text-decoration: none;
	font-family: 'Pacico', cursive;
	padding-left:20px;
}
.letra2 > Label{
	color:#FECE1A;
	width: 100px
	text-decoration: none;
	font-family: 'Pacico', cursive;
	padding-left:20px;
}
.letra3{
	color: #FECE1A;
	margin-top:10px;
	font-size:20px;
	text-decoration: none;
	font-family: 'Pacico', cursive;
	width:110%;
	padding-left:20px;
}
.shared-panel{
	overflow: auto;
	align-items: center;
	justify-content: space-around;
}
.shared-panel > span{
	margin: 10px 0;
	font-size: 16px;
	font-weight: 600;
}
.shared {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 5px 0;
	padding: 0;
	background: url("../images/shared.png") no-repeat;
	float: left;
	margin-right: 5px;
	cursor: pointer;
	border-radius: 50%;
}
.shared:hover{
	opacity: 0.7;
}
.shared.gp {background-position: 0px 0px; background-color: #E62B34;}
.shared.tt {background-position: 0px -30px; background-color: #43BDF0;}
.shared.ce {background-position: 0px -60px; background-color: #8A898D;}
.shared.wa {background-position: 0px -90px; background-color: #0dc143;}
.shared.fb {background-position: 0px -120px; background-color: #6081C4;}

.st2{
   border-radius: 0;
}
.st3{
   border-radius: 5px;
}
.column {
  float: left;
  padding: 10px;
  /*height: 300px; /* Should be removed. Only for demonstration */
}

.left {
	width: 65%;
}

.right {
  width: 35%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.fondoN {
	background-color:#000000;
}
